@import "tailwindcss";

:root {
  /* -------------------- Semantic Colors -------------------- */
  --color-header: #5a6a7f;
  --color-sidebar: #34495e;
  --color-accent: #e74c3c;
  
  --color-info: #237daa;
  --color-success: #018474;

  /* --------------------  -------------------- */
  --color-primary: #34495e;           
  --color-primary-light: #5a6a7f;
  --color-primary-hover: #2c3e50;
  --color-primary-active: #2a3645;
  --color-primary-bg: #e5e7eb;

  /* -------------------- Header -------------------- */
  --color-header-hover: #4c5a6d;
  --color-header-active: #3e4a5b;
  --color-header-light: #7b8a9d;

  /* -------------------- Sidebar -------------------- */
  --color-sidebar-hover: #2c3d50;
  --color-sidebar-active: #22313f;
  --color-sidebar-light: #4f6275;

  /* -------------------- Accent & Add -------------------- */
  --color-accent-active: #cf3d2f;
  --color-accent-hover: #b83226;
  --color-accent-light: #f29d96;

  /* -------------------- Info -------------------- */
  --color-info-hover: #165d7a;
  --color-info-active: #1d6b90;
  --color-info-light: #4fa3c7;

  /* -------------------- Success -------------------- */
  --button-success-hover: #006052;
  --button-success-active: #017363;
  --button-success-light: #25a594;

  --button-info-light: #4fa3c7;
  --button-info-hover: #165d7a;
  --button-info-active: #1d6b90;

  


}

