.custom-btn-div {
    display: inline-block;
    padding: 10px;
}
.custom-btn {
    border: 2px solid black;
    text-align: center;

    cursor: pointer;
    width: 100px;
    height: 100px;
    padding: 15px;
}
.custom-btn-disabled {
    pointer-events: none;
    border: 2px solid rgba(100, 100, 100, 0.3) !important;
    background-color: rgba(200, 200, 200);
    color: gray;
}
.custom-btn:hover {
    background-color: rgba(165, 126, 0, 0.3);
}
.custom-btn:hover label{
    text-decoration: underline;
}
.custom-btn label {
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px;
    cursor: pointer;
    white-space: nowrap;
}
.custom-btn img {
    width: 45px;
}
@media only screen and (max-width: 600px) {
    .custom-btn-div {
        display: block;
        padding: 5px;
    }
    .custom-btn {
        cursor: pointer;
        width: 100%;
        height: auto;
        padding: none;
    }
    .custom-btn img {
        display:none;
    }
    .custom-btn label {
        font-size: 100%;
        cursor: pointer;
    }
}